/* Start my Frame Work */
body {
  direction: rtl;  
}

.myrow {
    width: 100%;
}

/* End my Frame Work */
 
.all-content .btn-dark {
    
} 

.all-content .btn-dark:hover {
    color: #fff; 
} 

.all-content .a-pdf {
    width: 30%;
    border-radius: 10%;
    display: inherit;
    margin: auto;
    margin-top: 10px;
    background-color: #343a40; 
    color: #fff;
    padding: 10px;
    border: 1px solid #343a40; 
    transition: 1s;
    
}


@media (max-width: 768px) { 
.all-content .a-pdf    {
    width: 55%;
    font-size: 15px;
}
}


@media (max-width: 576px) { 
.all-content .a-pdf    {
    width: 65%;
    font-size: 15px;
}
}


@media (max-width: 400px) { 
.all-content .a-pdf    {
    width: 80%;
    font-size: 12px;
}
}


.all-content .a-pdf:hover {
    color: #343a40;
    background-color: #fff;
}

.video-frame {
    border: 1px solid #000;
    width: 70%;
    height: 400px;
}


@media (max-width: 768px) { 
.video-frame    {
    height: 220px;
}
}


@media (max-width: 576px) { 
.video-frame    {
    height: 180px;
}
}




@media (max-width: 576px) { 
.lead {
    font-size: 18px;
    line-height: 20px;
}
}


@media (max-width: 400px) { 
.lead {
    font-size: 16px;
    line-height: 20px;
}
}
 
